qai_hub_models==0.30.2
Pillow==10.4.0
numpy==1.26.4
torch==2.4.1
torchvision==0.19.1
transformers==4.46.3
diffusers==0.32.2
opencv-python-headless==4.11.0.86
opencv-python==4.10.0.84
py3_wget==1.0.13
flask==3.1.1
wheel==0.45.1
setuptools==75.8.0
pybind11==2.13.6
requests==2.32.4
tqdm==4.67.1
scikit-image==0.25.2
